*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: flex;
   height: 100vh;
   align-items: center;
   justify-content: center;
   font-family: Helvetica, sans-serif;
}


.container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 1rem;
   grid-template-areas: "a b";
   font-family: Helvetica;
   align-content: center;
   justify-content: center;
   border: 2px solid black;
   border-radius: 9px;
}

section {
   width: 200px;
   height: 200px;
   padding: 10px;
}
.section1 { 
   grid-area: a;
   display: flex;
   flex-direction: column;
   justify-content: center;
   justify-self: end;
}

.section2 {
   display: inline-flex;
   flex-direction: column;
   justify-self: start;
}

.section2 * {
   margin: 4px 0 4px 0;
}

input { 
   display: flex;
   background-color: rgba(128, 128, 128, 0.126);
   flex-direction: column;
   justify-content: center;
   border-width: 1px;
   padding: .5em;
   font-size: large;
   text-align: center;
   border-radius: 5px;
}

.totals {
display: flex;
justify-content: space-between;
}

h3 {
   margin: 5px 0 5px 0;
   flex: 0;
}

p {
   color: rgb(58, 58, 58);
   display: inline;
   
}

.line{
 border: 0.5px solid rgba(128, 128, 128, 0.393);
}


